__pycache__/
*.pyc
*.pyo
*.pyd
.vscode/
venv/
env/
*.db-shm
*.db-wal
*.svg"__pycache__/" 
"*.pyc" 
"Website/__pycache__/views.cpython-313.pyc" 
Website/static/graphs/cat_relationship_tree.svg
Website/static/graphs/*.svg
Website/static/graphs/


