{% extends 'base.html' %}

{% block title %}Contest Submission{% endblock %}

{% block content %}
<style>
    body {
        background-color: #f2eadf;
    }
    .upload-container {
        width: 800px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: #f9f9f9;
        margin: auto;
    }
</style>

<form action="{{ url_for('submit_entry') }}" method="post" enctype="multipart/form-data" class="upload-container">
    <h2 style="text-align: center;">Submit Your Entry</h2>

    <label for="username">Your username:</label>
    <input type="text" id="username" name="username" required placeholder="Enter your username">

    <label for="contest_select">Select Contest:</label>
    <select id="contest_select" name="contest_id" required>
        <option value="" disabled selected>Choose a contest</option>
        {% for contest in contests %}
        <option value="{{ contest.id }}">{{ contest.name }}</option>
        {% endfor %}
    </select>

    <label for="entry_description">Entry Description:</label>
    <textarea id="entry_description" name="entry_description" placeholder="Describe your submission">optional</textarea>

    <label for="submission">Upload Your Entry:</label>
    <input type="file" id="submission" name="submission" accept="image/*,video/*" required>

    <button type="submit" style="background-color: #94693e; color: white; border-radius: 5px;">Submit Entry</button>
</form>
{% endblock %}
