{% extends 'base.html' %} 

{% block title %}Create Profile{% endblock %}

{% block content %}
<style>
    body {
        background-color: #ffe4c4;
    }
</style>
<div style="display: flex; justify-content: center; align-items: center; height: calc(100vh - 40px);">
    <form action="{{ url_for('create_profile')}}" method="post" enctype="multipart/form-data" onsubmit="return confirmSubmission();" style="width: 500px; padding: 20px; border: 1px solid #ddd; border-radius: 10px; background-color: #f9f9f9;">
        <h1 style="text-align: center; margin-bottom: 20px;">Create a New Cat Profile</h1>

        <div style="margin-bottom: 20px; text-align: center;">
            <div style="width: 150px; height: 150px; border-radius: 50%; border: 2px solid #ddd; margin: 0 auto; position: relative; display: flex; justify-content: center; align-items: center; overflow: hidden;">
        <img class="profile-picture" alt="Profile Picture Preview" style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover; border: 2px solid #ddd; margin-bottom: 10px;">
        <br>
        <label for="profile_picture" style="font-weight: bold;">Upload Profile Picture:</label>
        <input type="file" id="profile_picture" name="profile_picture" accept="image/*" required>
    </div>

    <div style="margin-bottom: 15px;">
        <label for="name" style="display: inline-block; width: 150px; font-weight: bold;">Name:</label>
        <input type="text" id="name" name="name" required style="width: 300px; padding: 5px; border: 1 px solid #ccc; border-radius: 5px;" pattern="[A-Za-z]+" title="Only letters are allowed">
    </div>

    <div style="margin-bottom: 15px;">
        <label for="description" style="display: inline-block; width: 150px; vertical-align: top; font-weight: bold;">Description:</label>
        <textarea id="description" name="description" style="width: 300px; height: 100px; padding: 5px; border: 1px solid #ccc; border-radius: 5px; resize: none;" placeholder="Optional"></textarea><br>
    </div>
    
    <div>
        <button type="submit" style="padding: 10px 20px; background-color: #94693e; color: white; border: none; border-radius: 5px; cursor: pointer; font-weight: bold;">Create</button>
    </div>
</form>
{% endblock %}