{% extends 'base.html' %} 

{% block title %}Create Profile{% endblock %}

{% block content %}
<h1>Create a New Cat Profile</h1>
<form action="{{ url_for('create_profile')}}" method="post" enctype="multipart/form-data">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required pattern="[A-Za-z]+" title="Only letters allowed"><br>

    <label for="description">Description:</label>
    <textarea id="description" name="description"></textarea><br>

    <label for="profile_picture">Upload Cat Profile Picture:</label>
    <input type="file" id="profile_picture" name="profile_picture" accept="image/*" required><br>

    <button type="submit">Create</button>
</form>
{% endblock %}