{% extends 'base.html' %} 

{% block title %}Create Profile{% endblock %}

{% block content %}
<h1>Create a New Cat Profile</h1>
<form action="{{ url_for('create_profile')}}" method="post" enctype="multipart/form-data" style="max-width: 500px; padding: 20px; border: 1px solid #ddd; border-radius: 10px; background-color: #f9f9f9;">
    <div style="margin-bottom: 15px;">
        <label for="name" style="display: inline-block; width:150px; font-weight: bold;">Name:</label>
        <input type="text" id="name" name="name" required style="width: 300px; padding: 5px; border: 1 px solid #ccc; border-radius: 5px;" pattern="[A-Za-z]+" title="Only letters allowed"><br>
    </div>

    <div style="margin-bottom: 15px;">
        <label for="description" style="display: inline-block; width:150px; vertical-align: top; font-weight: bold;">Description:</label>
        <textarea id="description" name="description" style="width: 300px;height: 100px; padding: 5px; border: 1px solid #ccc; border-radius: 5px; resize: none;"></textarea><br>
    </div>

    <div style="margin-bottom: 15px;">
    <label for="profile_picture" style="display: inline-block; width: 150px; font-weight: bold;">Upload Cat Profile Picture:</label>
    <input type="file" id="profile_picture" name="profile_picture" accept="image/*" required><br>

    <button type="submit">Create</button>
</form>
{% endblock %}