{% extends 'base.html' %} 

{% block title %}View Cat Profiles{% endblock %}

{% block content %}
<style>
    body {
        background-color: #EDE0D7;
    }
</style>
<div style="padding: 20px;">
    <h1 style="text-align: center; margin-bottom: 20px;">Cat Profiles</h1>
    <div style="overflow-x: auto; white-space: nowrap; padding: 10px; border: 1px solid #ddd; border-radius: 10px; background-color: #f0f0f0;">
        {% for profile in profiles if not profile.deleted %}
        <div class="profile-card" style="display: inline-block; width: 250px; border: 1px solid #2A1503; border-radius: 12px; background: #fff; overflow: hidden; padding: 18px; text-align: center; margin-right: 15px;">
            <img src="{{ profile.profile_picture }}" alt="{{ profile.name }}" 
                style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%; margin-bottom: 15px;">
            <h2 style="margin: 0 0 10px; font-size: 1.5rem; color: #333;">{{ profile.name }}</h2>
            <p style="margin: 0 0 5px; font-size: 0.9rem; color: #333"><strong>Gender:</strong> {{ profile.gender }}</p>
            <p style="margin: 0 0 5px; font-size: 0.9rem; color: #333"><strong>Color:</strong> {{ profile.color }}</p>
            <p style="margin: 0 0 10px; font-size: 0.9rem; color: #333;"><strong>Description:</strong> {{ profile.description }}</p>
        
        <div class="profile-actions">
            <a href="{{ url_for('edit_profile', id=profile.id) }}" class="edit-button">Edit</a>
            <form action="{{ url_for('delete_profile', id=profile.id) }}" method="post" class="delete-form">
                <button type="submit" class="delete-button">Delete</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}