{% extends "base.html" %}

{% block title %}Cat Story{% endblock %}

{% block content %}

<style>
    body {
        background-color: #f2eadf;
        color: rgb(78, 68, 57);
        font-family: "Times New Roman";
    }

    h2 {
        font-weight: bold;
        font-size: 40px;
        text-align: center;
        padding-top: 20px;
        color: #94693e;
        font-family: "Times New Roman";
    }

    .story-container {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 40px;
    }

    .story-card {
        width: 350px;
        padding: 25px;
        background-color: #e5d1bb;
        border-radius: 15px;
        text-align: center;
        transition: transform 0.3s ease-in-out, background-color 0.3s;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        font-family: "Times New Roman";
    }

    .story-card:hover {
        background-color: #e0c3a1;
        transform: translateY(-5px);
        text-decoration: none;
        font-weight: bold;
    }

    .story-card:hover h3 {
        font-weight: bold;
    }

    .story-card h3 {
        font-size: 26px;
        color: #754e2e;
        margin-bottom: 10px;
        font-family: "Courier";
    }

    .story-card p {
        font-size: 16px;
        font-family: "Times New Roman";
        font-style: italic;
        color: rgb(78, 68, 57);
    }

</style>

<h2>Cat Story🐈‍⬛</h2>

<div class="story-container">
    <a href="{{ url_for('auth.my_story') }}" class="story-card">
        <h3>My Story</h3>
        <p>View your personal collection of cat tales.</p>
    </a>

    <a href="{{ url_for('auth.share_story') }}" class="story-card">
        <h3>Share Story</h3>
        <p>Write and share your cat story with others.</p>
    </a>
</div>

{% endblock %}
