{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<style>
    body {background-color: #f2eadf;}

    button:hover {
    background-color: #ff9966;
    transform: scale(1.1);}

    h3 {text-align: center;
    padding-top: 35px;padding-bottom: 25px;font-family: 'Times New Roman';
    color: rgb(176, 148, 119);}
</style>

<h3><b>Suggestion to us</b></h3>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">{{ note.data }}</li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br/>
    <div text-align="center">
        <button type="submit" class="btn btn-primary" style="font-family: 'Times New Roman';background-color: rgb(176, 148, 119);color: white;border: none;">
            🐾Suggest!🐾</button>
    </div>
</form>
{% endblock %}