{% extends "base.html" %}

<!-- define the title block and set it to "Login" -->
{% block title %}Login{% endblock %}

{% block content %}

<style>
    body {background-color: #f2eadf;}
</style>

<!-- create a form for user login -->
<form method="post" style="max-width: 750px; margin: auto;"> <!-- the form will send data using the POST method -->
    <h2 style="text-align: center;font-family: 'Times New Roman';padding-top: 25px;color: rgb(78, 68, 57);"><b>Login</b></h2>

    <div class="form-group">
        <label for="email" style="font-family: 'Times New Roman';">Email Address</label>
        <input type="email" class="form-control" style="font-family: 'Times New Roman';" id="email" name="email" placeholder="Enter Email"/>
    </div>

    <div class="form-group">
        <label for="ps" style="font-family: 'Times New Roman';">Password</label>
        <input type="password" class="form-control" style="font-family: 'Times New Roman';" id="ps" name="ps" placeholder="Enter Password"/>
    </div>

    <br/>

    <button type="submit" class="btn btn-primary" style="font-family: 'Times New Roman';background-color: rgb(176, 148, 119);color: white;border: none">
        🐾Login🐾</button>
</form>

{% endblock %}