{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}

<style>
    body {background-color: #ffebce;}
</style>

<form method="post">
    <h2 style="text-align: center;font-family: 'Times New Roman';padding-top: 25px;color: #e38c29;"><b>Login</b></h2>

    <div class="form-group">
        <lable for="email" style="font-family: 'Times New Roman';">Email Address</lable>
        <input type="email" class="form-control" style="font-family: 'Times New Roman';" id="email" name="email" placeholder="Enter Email"/>
    </div>

    <div class="form-group">
        <lable for="ps" style="font-family: 'Times New Roman';">Password</lable>
        <input type="password" class="form-control" style="font-family: 'Times New Roman';" id="ps" name="ps" placeholder="Enter Password"/>
    </div>

    <br/>

    <button type="submit" class="btn btn-primary" style="font-family: 'Times New Roman';background-color: #d69449;color: white;border: none">Login</button>
</form>

{% endblock %}