{% extends 'base.html' %}

{% block title %} Manage Quiz Questions{% endblock %}

{% block content %}
<style>
    body {
        background-color: #f2eadf;
    }

    h1 {
         text-align: center; 
        margin-bottom: 20px; 
        font-family: 'Times New Roman', Times, serif; 
        color: #94693e; 
        font-weight: bold;
    }
</style>
<div style="padding: 20px;">
    <h1 style="text-align: center; font-family: 'Times New Roman', Times, serif;">Manage Quiz Questions</h1>



</div>
{% endblock %}