{% extends "base.html" %}
{% block title %}SEARCH{% endblock %}

{% block content %}

<style>
    body {
            font-family: 'Times New Roman', Times, serif;
            background-color: #f2eadf;
            margin: 0;
            padding: 0;
        }

        h1 {
            font-weight: bold;
            color: #94693e;
            text-align: center;
            font-size: 36px;
            margin-bottom: 10px;
            padding-top: 25px;
            
        }

        .form-container{
            max-width:500px;
            background-color: #fffaf3;
            margin: 40px auto;
            padding: 30px;
            border-radius: 10px;
            box-sizing: border-box;
            box-shadow: 0px 8px 3px #c39f76;
        }

        .search-bar label,
        .filter-bar label {
            color: #6b4f2f;
            font-weight: bold;
            margin-bottom: 3px;
        }
        
        .search-bar input,
        .filter-bar select {
            width: 100%;
            padding: 8px;
            background-color: #fffbe9;
            border-radius: 12px;
            margin-bottom: 10px;
            transition: border-color 0.3s ease;
        }

        .search-bar input:focus,
        .filter-bar select:focus {
            border: 2px solid #94693e;
            outline: none;
        }

        .search-bar input::placeholder {
            color: #c2a177;
            font-style: italic;     
        }

        .filter-bar select {
            font-size: 14px;
            color: #380c0c;
            cursor: pointer;
            appearance: none;
            background-image: url("/static/cat_paws_icon.png");
            background-repeat: no-repeat;
            background-position: right 10px center;
            background-size: 20px;
        }

        .button-container button{
            width: 100%;
            padding: 12px;
            background-color: #dccbb7;
            border-radius: 15px;
            border: none;
            color: #6b4f2f;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            transition: transform 0.2s ease;
        }    
            
        .button-container button:hover {
            background-color: #d4bfae;
            transform: scale(1.05);
            box-shadow: 0px 8px 15px rgba(255, 163, 71, 0.2);
        }
        
</style>    
    
<h1>SEARCH CAT PROFILE</h1>
  
<form action="/cat_list" method="get">
    
    <div class="form-container">    

        <div class="search-bar">
            <label for="name">Search by name:</label> 
            <input type="text" id="name" name="name" placeholder="e.g., Tom, Bubble" /> 
        </div>   
                
        <div class="filter-bar">
            <label for="gender">Filter by gender:</label>
            <select id="gender" name="gender">
                <option value="">Any</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Not sure">Not sure</option>
            </select>

            <label for="color">Filter by color:</label>
            <select id="color" name="color">
                <option value="">Any</option>
                <option value="Black">Black</option>
                <option value="White">White</option>
                <option value="Brown">Brown</option>
                <option value="Gray(Blue)">Gray (Blue)</option>
                <option value="Orange(Ginger)">Orange (Ginger)</option>
                <option value="Calico">Calico</option>
                <option value="Tortoiseshell">Tortoiseshell</option>
                <option value="Tabby">Tabby</option>
                <option value="Cream">Cream</option>
                <option value="Silver">Silver</option>
                <option value="Other">Other</option>
                </select>
        </div>
    
         <div class="button-container">
            <button type="submit">🐾Go🐾</button> 
        </div>    

    </div>    
           

</form>                    
    

{% endblock %}