{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}

<form method="post">
    <h2 style="text-align: center;font-family: 'Times New Roman', Times, serif;padding-top: 25px;color: #eba576;">Sign Up</h2>

    <div class="form-group">
        <lable for="email">Email Address</lable>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email"/>
    </div>

    <div class="form-group">
        <lable for="UserName">User Name</lable>
        <input type="text" class="form-control" id="UserName" name="UserName" placeholder="Enter User Name"/>
    </div>

    <div class="form-group">
        <lable for="ps1">Password</lable>
        <input type="password" class="form-control" id="ps1" name="ps1" placeholder="Enter Password"/>
    </div>

    <div class="form-group">
        <lable for="ps2">Password</lable>
        <input type="password" class="form-control" id="ps2" name="ps2" placeholder="Confirm Password"/>
    </div>

    <br/>

    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>

{% endblock %}