{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}

<style>
    body {background-color: #ffebce;}
</style>


<form method="post">
    <h2 style="text-align: center;font-family: 'Times New Roman';padding-top: 25px;color: #e38c29;"><b>Sign Up</b></h2>

    <div class="form-group">
        <lable for="email" style="font-family: 'Times New Roman';">Email Address</lable>
        <input type="email" class="form-control" style="font-family: 'Times New Roman';" id="email" name="email" placeholder="Enter Email"/>
    </div>

    <div class="form-group">
        <lable for="UserName" style="font-family: 'Times New Roman';">User Name</lable>
        <input type="text" class="form-control" style="font-family: 'Times New Roman';" id="UserName" name="UserName" placeholder="Enter User Name"/>
    </div>

    <div class="form-group">
        <lable for="ps1" style="font-family: 'Times New Roman';">Password</lable>
        <input type="password" class="form-control" style="font-family: 'Times New Roman';" id="ps1" name="ps1" placeholder="Enter Password"/>
    </div>

    <div class="form-group">
        <lable for="ps2" style="font-family: 'Times New Roman';">Password</lable>
        <input type="password" class="form-control" style="font-family: 'Times New Roman';" id="ps2" name="ps2" placeholder="Confirm Password"/>
    </div>

    <br/>

    <button type="submit" class="btn btn-primary" style="font-family: 'Times New Roman';">Sign Up</button>
</form>

{% endblock %}