{% extends "base.html" %}
{% block title %}{{ cat['name'] }}'s Profile{% endblock %}

{% block content %}

<style>
    body {
        font-family: 'Times New Roman', Times, serif;
        background-color: #f2eadf;
        margin: 0;
        padding: 0;
    }

    h1 {
        color: #94693e;
        font-weight: bold;
        text-align: center;
        font-size: 36px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h2 {
        color: #6b4f2f;
        font-weight: bold;
        font-size: 24px;
        margin: 20px 0 ;
    }

    .profile-container {
        margin: 30px auto;
        padding: 30px;
        background-color: #fffbe9;
        border-radius: 12px;
        width: 80%;
        max-width: 550px;
        min-height: 700px;
        max-height: 800px;
        text-align: center;
    }

    .profile-picture {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
    }

    .profile-container p {
        color: #6b4f2f;
    }

    .button-container {
        text-align: center;
    }

    .back-button {
        display: inline-block;
        margin: 20px 0;
        padding: 10px 20px;
        background-color: #dccbb7;
        color: #6b4f2f;
        font-weight: bold;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
    }


    .back-button:hover {
        background-color: #d4bfae;
        color: #6b4f2f;
        border-radius: 8px;
        text-decoration: none;
        transform: scale(1.05);
        box-shadow: 0px 8px 15px rgba(255, 163, 71, 0.2);
    }

</style>

<h1>{{ cat['name'] }}'s Profile</h1>

<div class="profile-container">
    <img class="profile-picture" src="{{ url_for('static', filename='uploads/' + cat['photo']) if cat['photo'] else url_for('static', filename='uploads/default.png') }}" alt="{{ cat['name'] }}">
    <h2>Personal information</h2>
    <p><strong>Name: </strong>{{ cat.name }}</p>
    <p><strong>Gender: </strong>{{ cat.gender }}</p>
    <p><strong>Color: </strong>{{ cat.color }}</p>
    <p><strong>Description: </strong>{{ cat.description }}</p>
</div>

<div class="button-container">
    <a href="{{ request.referrer or url_for('search.search_feature') }}" class="back-button">
        Back
    </a>
</div>
    
{% endblock %}