{% extends "base.html" %}

{% block title %}User Profile{% endblock %}

{% block content %}
<div class="container mt-4">
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="alert-container">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    
    <!-- User profile information -->
    <h2 style="font-family: 'Times New Roman'; color: rgb(78, 68, 57);">Welcome, {{ user.UserName }}!</h2>
    <p style="font-family: 'Times New Roman'; font-size: 16px;">Email: {{ user.email }}</p>
    <p style="font-family: 'Times New Roman'; font-size: 16px;">This is user profile page.</p>
</div>
{% endblock %}
