{% extends "base.html" %}

{% block title %}User Profile{% endblock %}

{% block content %}

<style>
  body {
    background-color: #f2eadf;
    font-family: 'Times New Roman';
    margin-bottom: 30px;
  }

  h2,
  h5,
  label {
    color: rgb(78, 68, 57);
  }

  h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .profile-header {
    position: relative;
    margin-bottom: 30px;
    margin-top: 25px;
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
  }

  .cover-photo {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }

  .cover-photo:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.15);
  }

  .profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    background: white;
    cursor: pointer;
  }

  .profile-picture:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  .profile-info {
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
    color: #4e4439;
  }

  .profile-info h2,
  .profile-info h5 {
    font-weight: bold;
    margin: 5px 0;
  }

  .profile-details {
    width: 100%;
    height: 30%;
    margin-bottom: 10px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
  }

  .profile-details h5 {
    font-size: 18px;
  }

  .main-content-row {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 20px;
  }

  .profile-section {
    width: 30%;
    background-color: #d4cfc9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
  }

  .post-container {
    width: 70%;
    padding: 20px 30px;
    background-color: #fcf7f1;
    color: #6b4f2f;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .post {
    width: 100%;
    max-width: 1000px;
    min-height: 200px;
    margin: 20px 0;
    padding: 20px 20px 10px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .post-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
  }

  .post-info p {
    margin: 0;
    line-height: 1.2;
  }

  .post-profile-picture {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
    border: 1px solid #c8a786;
  }


  .post-body {
    margin: 0 90px;
  }

  .post-content {
    max-width: 100%;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .media-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    width: 100%;
    max-width: 600px;
    margin: 10px 0;
  }

  .media-item {
    height: 200px;
    position: relative;
    overflow: hidden;
    background: #f0f0f0;
  }

  .media-item img,
  .media-item video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .more-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
  }

  .post-actions {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    border-top: 1px solid #d7cfc7;
  }

  .post-action-button {
    background: none;
    padding-top: 20px;
    border: none;
    color: #6b4f2f;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
  }

  .post-action-button:hover {
    background-color: inherit;
  }

  .back-community {
    text-align: center;
    margin-top: 5px;
  }

  .back-community a {
    font-size: 20px;
    color: rgb(120, 100, 80);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    cursor: pointer;
  }

  .back-community a:hover {
    background-color: transparent;
    transform: scale(1.1);
    color: rgb(120, 100, 80);
    text-decoration: underline;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
  }

  .modal img {
    width: auto;
    height: 80vh;
    max-width: 90vw;
    border-radius: 10px;
    border: 10px solid #f2eadf;
  }

  #badgeGallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-content: center;
    align-items: center;
  }

  .badge-display {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .badge-display h3 {
    color: rgb(78, 68, 57);
  }

  .badge-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .badge-icon {
    width: 100%;
    height: auto;
    max-width: 150px;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .badge-icon:hover {
    transform: scale(1.2);
  }

  .badge-condition p {
    font-weight: bolder;
    font-size: 5px;
    text-align: center;
    margin-top: 5px;
  }

  p.italic {
    text-align: center;
    font-style: italic;
    font-size: 18px;
    color: #6b4f2f;
  }

  .dots {
    font-size: 24px;
    cursor: pointer;
    color: #6b4f2f;
  }

  .menu-container {
    position: absolute;
    top: 3px;
    right: 15px;
  }

  .menu {
    align-items: center;
    display: none;
    position: absolute;
    right: 0;
    background: #dccbb7;
    border-radius: 8px;
    padding: 6px 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 90px;
    text-align: center;
    width: 150px;
    transition: all 0.3s ease-in-out;
    z-index: 10;
  }

  .menu a {
    text-decoration: none;
    color: #6b4f2f;
    display: block;
    padding: 6px 10px;
    font-weight: bold;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
  }

  .menu a:hover {
    background: #dccbb7;
    transform: scale(1.05);
    color: #6b4f2f;
  }

  .menu-container:hover .menu {
    display: block;
  }

  .menu-container:focus-within .menu {
    display: block;
  }

  .delete-btn {
    background: none;
    border: none;
    color: #6b4f2f;
    display: block;
    margin: auto;
    padding: 6px 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    height: auto;
    transition: all 0.3s ease-in-out;
  }

  .delete-btn:hover {
    background: #dccbb7;
    transform: scale(1.05);
  }

  .back-button {
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    background-color: #dccbb7;
    color: #6b4f2f;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }

  .back-button:hover {
    background-color: #d4bfae;
    transform: scale(1.05);
    box-shadow: 0px 8px 15px rgba(255, 163, 71, 0.2);
  }
</style>

<h1 style="font-size: 40px; font-weight: bold; text-align: center; padding-top: 25px; color: #94693e;">
  {{ profile_owner.name }}'s Profile
</h1>
<h5 style="font-size: 20px; font-weight: bold; text-align: center; margin-top: 5px; margin-bottom: 20px; color: #6b4f2f; font-style: italic;">
  Here is meowfile🐈‍⬛
</h5>

{% if profile_owner.cover_photo %}
<img style="margin-bottom: 20px;" src="{{ url_for('static', filename='Userprofile/' ~ profile_owner.cover_photo) }}"
  alt="Cover Photo" class="cover-photo"
  onclick="toggleModal('{{ url_for('static', filename='Userprofile/' ~ profile_owner.cover_photo) }}')">
{% else %}
<img style="margin-bottom: 20px;" src="{{ url_for('static', filename='Userprofile/default_cover.png') }}"
  alt="Cover Photo" class="cover-photo"
  onclick="toggleModal('{{ url_for('static', filename='Userprofile/default_cover.png') }}')">
{% endif %}

<hr>

<div class="main-content-row">

  <div class="profile-section">
    {% if user.is_authenticated %}
    <div class="menu-container" tabindex="0">
      <span class="dots">...</span>
      <div class="menu">
        {% if user.role == 'user' %}
        <a href="{{ url_for('auth.report_page', report_type='user_profile', item_id=profile_owner.id) }}">Report
          User</a>
        {% elif user.role == 'admin' %}
        <form action="{{ url_for('auth.delete_bio', user_id=profile_owner.id) }}" method="POST">
          <button type="submit" class="delete-btn">Delete Bio</button>
        </form>
        <form action="{{ url_for('auth.delete_profile_picture', user_id=profile_owner.id) }}" method="POST">
          <button type="submit" class="delete-btn">Delete Profile Picture</button>
        </form>
        <form action="{{ url_for('auth.delete_cover_photo', user_id=profile_owner.id) }}" method="POST">
          <button type="submit" class="delete-btn">Delete Cover Photo</button>
        </form>
        {% endif %}
      </div>
    </div>
    {% endif %}

    <div class="profile-header">
      {% if profile_owner.profile_picture %}
      <img src="{{ url_for('static', filename='Userprofile/' ~ profile_owner.profile_picture) }}" alt="Profile Picture"
        class="profile-picture"
        onclick="toggleModal('{{ url_for('static', filename='Userprofile/' ~ profile_owner.profile_picture) }}')">
      {% else %}
      <img src="{{ url_for('static', filename='Userprofile/default_profilepic.png') }}" alt="Profile Picture"
        class="profile-picture"
        onclick="toggleModal('{{ url_for('static', filename='Userprofile/default_profilepic.png') }}')">
      {% endif %}
      <div class="profile-info">
        <h2>{{ profile_owner.name }}</h2>
        {% if profile_owner.privacy == "Private" and current_user.role != "admin" and current_user.id !=
        profile_owner.id %}
        <h5>Not available to view</h5>
        {% else %}
        <h5>Status: {{ profile_owner.status }}</h5>
        {% endif %}
      </div>
    </div>

    <div class="profile-details">
      {% if profile_owner.privacy == "Private" and current_user.role != "admin" and current_user.id != profile_owner.id
      %}
      <h5 style="text-align: center;"><b>This account is private account🔒</b></h5>
      {% else %}
      <h5><b>Birthday:</b> {{ profile_owner.birthday if profile_owner.birthday else "-" }}</h5>
      <h5><b>MBTI:</b> {{ profile_owner.mbti if profile_owner.mbti else "-" }}</h5>
      <h5><b>Hobby:</b> {{ profile_owner.hobby if profile_owner.hobby else "-" }}</h5>
      <h5><b>Bio:</b> {{ profile_owner.bio if profile_owner.bio else "-" }}</h5>
      {% endif %}
    </div>

    <div class="badge-display">

      {% if profile_owner.privacy == "Private" and current_user.role != "admin" and current_user.id != profile_owner.id
      %}
      <h5 style="font-weight: bold; font-size: 18px;">Achievements are not available to view.</h5>
      {% else %}
      <h3><b>Achievements:</b></h3>
      {% if badges %}
      <div id="badgeGallery">
        {% for badge in badges %}
        <div class="badge-item">
          <img src="{{ url_for('static', filename='badges/' ~ badge[2]) }}" title="{{ badge[0] }}" class="badge-icon">
          <p class="badge-condition">{{ badge[1] }}</p>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p class="italic"> No achievements yet! Keep exploring to earn badges. </p>
      {% endif %}
      {% endif %}
    </div>

    <div class="back-community">
      <a onclick="location.href='{{ url_for('community.community_feature') }}'">🐾Back to Community🐾</a>
    </div>
  </div>

  <div class="post-container">
    <h3 style="font-size: 30px; font-weight: bold; text-align: center; padding-top: 10px;">
      {{ profile_owner.name }}'s posts
    </h3>

    {% if posts %}

    {% for post in posts %}
    <div class="post" onclick="window.location.href='/post/{{ post.post_id}}'">
      <div class="post-info">
        <img class="post-profile-picture"
          src="{{ url_for('static', filename='Userprofile/' ~ profile_owner.profile_picture) if profile_owner.profile_picture else url_for('static', filename='Userprofile/default_profilepic.png') }}"
          alt="Avatar">
        <p><strong>{{ profile_owner.name }}</strong> posted at {{ post['created_at'] }}</p>
      </div>

      <div class="post-body">
        <p class="post-content">{{ post['content'] }}</p>
        {% if post['cat_hashtag'] %}
        <p class="post-content">
          <a class="hashtag" href="{{ url_for('community.hashtag_posts', hashtag=post['cat_hashtag']) }}">#{{
            post['cat_hashtag'] }}</a>
        </p>
        {% endif %}

        <div class="media-grid">
          {% if post['media_url'] %}
          {% set media_list = post['media_url'].split(';') %}
          {% set max_show = 3 %}
          {% set total = media_list | length %}
          {% for media_url in media_list[:max_show] %}
          {% set ext = media_url.rsplit('.', 1)[1].lower() %}
          <div class="media-item">
            {% if ext in ['jpg', 'jpeg', 'png', 'gif'] %}
            <img src="{{ url_for('static', filename=media_url) }}" alt="Image">
            {% elif ext in ['mp4', 'mov', 'avi'] %}
            <video controls>
              <source src="{{ url_for('static', filename=media_url) }}" type="video/{{ ext }}">
            </video>
            {% endif %}

            {% if loop.index == max_show and total > max_show %}
            <div class="more-overlay">+{{ total - max_show }}</div>
            {% endif %}
          </div>
          {% endfor %}
          {% endif %}
        </div>

        <div class="post-actions">
          <form id="like-form-{{ post['post_id'] }}"
            action="{{ url_for('community.like_post' if not post['liked_by_current_user'] else 'community.unlike_post', post_id=post['post_id']) }}"
            method="post" style="display:inline;">
            <input type="hidden" name="sort" value="{{ sort }}">
            <button type="submit" class="post-action-button">
              {% if post['liked_by_current_user'] %}
              ❤️
              {% else %}
              🤍
              {% endif %}
              {{ post['like_count'] }} Likes
            </button>
          </form>

          <button class="post-action-button"
            onclick="event.stopPropagation(); window.location.href='/post/{{ post.post_id }}#comments'">
            💬 {{ post['comment_count'] }} Comments
          </button>
        </div>
      </div>
    </div>
    {% endfor %}

    {% else %}
    <h3>This user hasn't posted anything yet.</h3>
    {% endif %}
  </div>
</div>

<button class="back-button" onclick="history.back();">
  Back
</button>

<div class="modal" id="imageModal" onclick="closeModal()">
  <span class="modal-close" onclick="closeModal()">&times;</span>
  <img id="modalImage">
</div>

<script>
  function toggleModal(imageSrc) {
    const modal = document.getElementById("imageModal");
    const modalImage = document.getElementById("modalImage");

    modalImage.src = imageSrc;
    modal.style.display = "flex";
  }

  function closeModal() {
    document.getElementById("imageModal").style.display = "none";
  }
</script>

{% endblock %}