{% extends "base.html" %}

{% block title %}Admin Reports{% endblock %}

{% block content %}

<style>
    body {
        background-color: #f2eadf;
    }

    h2 {
        font-weight: bold;
        text-align: center;
        padding-top: 25px;
        color: #94693e;
        font-family: "Times New Roman";
    }

    table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        margin-top: 20px;
        background-color: rgba(255, 255, 255, 0.9);
    }

    th, td {
        padding: 10px;
        border: 1px solid black;
        text-align: center;
        font-family: 'Times New Roman';
    }

    th {
        background-color: rgb(176, 148, 119);
        color: white;
    }

    .action-buttons {
        justify-content: center;
        display: flex;
        gap: 10px;
    }

    button { 
        font-family: 'Times New Roman'; 
        background-color: rgb(176, 148, 119); 
        color: white; 
        border: none; 
        padding: 5px 10px; 
        border-radius: 5px; 
        cursor: pointer;
    } 
    
    button:hover { 
        background-color: rgb(158, 134, 106); 
        transform: scale(1.1); 
    }
</style>

<h2><b>View Reports📝</b></h2>

<table>
    <thead>
        <tr>
            <th>Report Reason</th>
            <th>Details</th>
            <th>Reported By</th>
            <th>Submission Date</th>
            <th>Report Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for report in reports %}
        <tr>
            <td>{{ report.reason }}</td>
            <td>{{ report.details if report.details else '-' }}</td>
            <td>{{ report.user.Name }}</td>
            <td>{{ report.created_at.strftime('%Y-%m-%d') }}</td>
            <td>{{ report.report_type }}</td>
            <td>
                <div class="action-buttons">
                    <form action="{{ url_for('auth.dismiss_report', id=report.id) }}" method="POST">
                        <button type="submit">Dismiss</button>
                    </form>
                    {% set action_route, params, action_label = report.delete_action %}
                    {% if action_route %}
                    <form action="{{ url_for(action_route, **params) }}" method="POST">
                        <button type="submit" style="background-color: rgb(255, 86, 86);">{{ action_label }}</button>
                    </form>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}